/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Aug, 2018, 7:06:57 PM
    Author     : hadoop
*/
/*.panel.wrapper {
    border-bottom: 1px solid #ebebeb;
    background-color: #6e716e;
}
    */