/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Aug, 2018, 7:07:23 PM
    Author     : hadoop
*/


.w3l_search input[type="text"] {
 	height: auto;
}
.w3l_search button {
    outline: none;
    padding: 10px 29px 31px;
    width: 15%;
    border: 1px solid;
    position: relative;
    background: url(../images/img-sp.png) no-repeat 14px 5px #FA1818;
}

.agileits_header .panel.header {
   padding: 0px;
}

.agileits_header .panel {
    margin-bottom: 0px;
    background-color: #000;
    border: none
    border-radius: none;
    box-shadow: none;
}
.product_list_header {
    margin-left: 7em !important;
    margin-top: 6px;
}
.agileits_header.fixed {
    height: 46.19px;
}

.w3ls_logo_products_left1:nth-child(3) {
     margin-left: 0px; 
}
.w3ls_logo_products_left1:nth-child(4) {
    margin-left: 6em;
}