 /*	
 * 3dcart Shopping Cart System - Version: 6
 * http://3dcart.com/
 * Date: Tue, Sept 23 2014
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('http://fonts.googleapis.com/css?family=Great+Vibes');

/* Hide Nivo Control Nav */

.theme-default .nivo-controlNav {display: none!important;}

/*body:: Controls website background and any other text outside of a table without an associated style.*/ 	
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #231f20;
	background: #FFF;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
img {
	border: 0;
}
input,
textarea,
select,
button {
	font-family: 'Open Sans', sans-serif;
    color: #000;
}
#mobileMenu i,
#mobileCatMenu i,
#mobileCart i {
	color: #FFF;
	font-size: 24px;
}
.top-menu .icon-menu {
	color: #FFF;
	font-size: 24px;
}
#closeSlideMenu i {
	color: #999;
	font-size: 24px;
}
::selection {
	color: #FFF;
	background: #353535;
}
::-moz-selection {
	color: #FFF;
	background: #353535;
}
blockquote {
	color: #000;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	line-height: 1em;
	background: #FFF;
	border-left: 6px solid #353535;
	margin: 0 0 15px 0;
	padding: 40px;
}
/* QuickSearch */
table.searchlight-results {
	font-family: 'Open Sans', sans-serif;
    width: 308px;
}
div.searchlight-results-wrapper {
	border: 2px solid #e2e2e2;
    margin-left: -2px;
}

/*******************************************************************************************************/
/*          STYLES USED ON THE FRAME OF THE WEBSITE (HEADER, LEFT NAV, RIGHT NAV AND FOOTER)           */
/*******************************************************************************************************/

/*store-name:: Store Name.*/		 
.store-name {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	font-weight: 400;
	text-decoration: none;
	line-height: 35px;
}
/*store-slogan:: Store Slogan.*/		 
.store-slogan {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: lowercase;
}
/*frame:: Controls the left and right column background.*/		
.frame {
	background: #FFF;
}
/*mod_bg:: Controls the left and right column modules background.*/		
.mod_bg {
	background: none;
}
/*frame-ht:: Controls the height left, right and middle columns.*/		
.frame-ht {
	height: 1000px;
}

.breadcrumbs {
	font-family: 'Source Sans Pro', sans-serif;
}

/*menu-headers:: Controls the way the menu titles look. For example: Categories, Browse By Price, Top Sellers, etc.*/ 
.menu-headers {
	background: none;
    border-bottom: 1px dotted #d0d0d0;
	color: inherit;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 10px;
    padding: 0;
	height: 30px;
	line-height: 30px;
	display: block;
}
/*footer::  This style controls the text you type under global footer. Merchants usually use to add security logos, credit card logos, privacy notes, etc.*/		
.footer {
	font-size: 10px;
	color: #fff;
	font-weight: 400;
	text-transform: none;
}
/*footerLinks::  Controls the way the Footer Links display in the Global Footer.*/
.footer a, .footer a:visited, .footer a:hover, .footer a:visited:hover {
	font-size: 10px;
	color: #fff;
	font-weight: 400;
	text-transform: none;
	text-decoration: underline;
}
/*icon:: Controls the way the menu icons display if they are being used.*/ 
.icon {
	font-size: 10px;
	font-weight: 400;
	color: #FFF;
}
/*top-sellers-star:: Controls the background image and style for the top ranking item star.*/
.top-sellers-star {
	display: none; /* Hide */
	background: #FFF;
    border: 2px solid #323f49;
	color: #323f49;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	height: 30px;
	line-height: 25px;
	position: absolute;
	top: 40px;
	right: 0;
    text-align: center;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 30px;
    z-index: 5;
}
/*ranking:: Controls the way the menu icons display if they are being used.*/ 
.ranking {
	float: left;
	font-size: 12px;
	font-weight: 400;
	color: #353535;
	width: 12px;
	height: 20px;
	text-align: left;
}
/*menu-text:: Controls the way the menu (mailing list) text look on the frame.*/ 
.menu-text {
	font-size: 12px;
	color: #fff;
	font-weight: 400;
}
/*price2:: Controls the way the product's price display in the top sellers and new releases sections.*/ 
.price2 {
	font-size: 12px;
	color: #231f20;
	font-weight: bold;
}
/*cart-text:: Controls the way the text on the mini shopping cart displays. The mini-shopping cart is usually located in the header.*/ 
.cart-text {
	font-size: 48px;
	font-weight: 400;
	color: #15212a;
}
/*search-text:: Controls the way the search box displays of the frame.*/ 
.search-text {
	font-size: 18px;
	font-weight: normal;
	color: #3d3d3d;
	line-height: 57px;
	height: 57px;
	width: 443px;
	background: #FFF;
	border: none;
	padding: 0 0 0 25px;
	margin: 0 11px 0 0;
}
/*A.cat:: Controls the way the Category Links display in the left or right navigation bars before a user clicks or mouses over them.*/ 	 
A, A:visited {
	color: #000;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
/*A.cat:hover:: When a user passes  their mouse over them.*/ 	
A:hover {
	color: #999;
	text-decoration: none;
}

#FRAME_MENU > li > a {color: #353535;}
#FRAME_MENU > li > a:hover {color: #999!important;}

/*******************************************************/
/*          STYLES USED THROUGHTOUT THE WEBSITE        */
/*******************************************************/

.product-item img {position: relative; top: 0; -webkit-transition: top 0.5s ease; -moz-transition: top 0.5s ease; -o-transition: top 0.5s ease; transition: top 0.5s ease;}
.product-item img:hover {top: -6px;}
#itemsBlock .products-header {border-bottom: 1px solid #000;}

/*Alignment fix for the use of the XHTML Transitional DOCTYPE.*/ 
tr {
	text-align: left;
}
/*td:: Controls all text inside a table without and associated style.*/ 
td {
	text-decoration: none;
	word-spacing: normal;
	font-size: 12px;
}
/*data:: Controls the font style of your content on all the pages.*/
.data {
	text-decoration: none;
	word-spacing: normal;
	font-size: 12px;
}
/*alternative:: Controls the background color of the boxes used throughout the site.*/
.alternative {
	background: #FFF;
	text-align: center;
}
.product-item .stars {display: none;}

.product-item .on-sale {background: #231f20;}

/*page_headers:: Controls the title of all your pages.*/
.page_headers {
	font-size: 22px;
	font-weight: 800;
	margin: 0;
	color: #000;
	text-transform: capitalize;
	border-bottom: 1px solid #000;
	font-family: 'Source Sans Pro', sans-serif;
}
/*titles:: Controls the Tiles  of sections within pages on the site such as (Specials, Feature Items, Items, Related Items).*/ 
.titles {
	font-size: 14px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 30px;
	margin: 10px 0 40px;
	border-bottom: 1px solid #000;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
}
/*price:: Controls the way the product's final price display throughout the site.*/ 
.price {
	font-size: 13px;
	color: #000;
	font-weight: 700;
	letter-spacing: 0;
}
/*error:: Controls the error messages*/ 
.error {
	font-size: 12px;
	font-weight: 400;
	color: #e10e04;
	text-decoration: none;
}
/*borders:: Controls the color of the line dividers used throughout the site.*/ 
.borders {
	color: #585C5F;
	border: 1px solid #CCC;
	border-style: none none solid;
}
/*borders2:: Controls the color of the solid line dividers used throughout the site.*/ 
.borders2 {
	border: 1px solid #CCC;
	border-style: none none solid;
}

/*******************************************************************************************************/
/*   STYLES ONLY USED ON VIEW CART AND CHECKOUT PAGES      */
/*******************************************************************************************************/

/*checkout-headers:: Controls the titles of the sections on the checkout pages (Billing Information, Shipping Information etc)*/
.checkout-headers {
	font-size: 14px;
	color: #353535;
	font-weight: 700;
}
/*steps:: Controls the way the steps on the checkout pages display.*/
.steps {
	font-size: 16px;
	font-weight: 700;
	color: #CCC;
}
/*steps_on:: Controls the way the step the customer is currently on displays on the checkout pages.*/
.steps_on {
	font-size: 16px;
	font-weight: 700;
	color: #353535;
}
/*titles2:: Controls the titles on the view cart page*/ 
.titles2 {
	font-size: 12px;
	font-weight: 700;
	background-color: #EEE;
	color: #353535;
	padding:4px;
}
/*******************************************************************************************************/
/*   STYLES ONLY USED ON PRODUCT PAGES      */
/*******************************************************************************************************/

/*options-titles:: Controls the way the option titles display on the product page.*/
.options-titles {
	font-size: 12px;
	font-weight: 700;
	color: #585C5F;
	border: 1px solid #CCC;
	border-style: none none solid;
}
/*item:: Controls the item description and item details text.*/ 
.item {
	font-size: 12px;
	color: #383733;
	font-weight: 400;
}
/*itemTitle:: Controls the name of the Product.*/ 
.item-title {
	font-size: 22px;
	color: #353535;
	font-weight:bold;
}
/*price-info:: Controls the way the sub-prices display on the product page, the final price is controlled by the style called "price".*/ 
.price-info {
	font-size: 12px;
	font-weight: 400;
	color: #585C5F;
}
/*small-txt:: Controls the way the item id displays.*/ 
.small-txt {
	color: #afafae;
	text-decoration: none;
	text-align: left;
	letter-spacing: 0;
	font-size: 10px;
	vertical-align:bottom;
}
/*availability-txt:: Controls the way the Availability of the product displays i.e. 'In Stock', 'Back Order'.*/ 
.availability-txt {
	color: #353535;
}
/*reward-title:: Controls the title of the Reward Points section.*/ 
.reward-title {
	color: #353535;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 7px;
	line-height: 10px;
	font-size: 16px;
	font-style:italic;
}
/**********************************************************/
/*      FORM FIELDS & BUTTONS THROUGHOUT THE WEBSITE      */
/**********************************************************/

/*btn:: Controls the buttons, (ONLY if it is not using and image).*/ 
.btn {
	border: none;
	background: #353535;
	border: 2px solid #353535;
	font-weight: 400;
	font-size: 12px;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0;
	padding: 9px 14px;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
/*btn_over:: Controls the buttons when a user mouses over them, (ONLY if it is not using and image).*/ 
.btn_over {
	background: #fff;
	border: 2px solid #231f20;
	font-weight: 400;
	font-size: 12px;
	color: #231f20;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0;
	padding: 9px 14px;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;	
}
/*button:hover:: Controls the button tag when a user mouses over them, (ONLY if it is not using and image).*/ 
button:hover {
	background: #231f20;
	border: 2px solid #231f20;
	font-weight: 400;
	font-size: 12px;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0;
	padding: 9px 14px;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
/*txtBoxStyle:: Controls the text and style of the Text Boxes.*/  	
.txtBoxStyle {
	border: 1px solid #b7b4ac;
	background: #fefefe;
	font-weight: 400;
	font-size: 12px;
	color: #000;
    margin: 0;
	padding: 8px 12px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
/*txtAreaStyle:: Controls the text and style of the Text Areas.*/ 	
.txtAreaStyle {
	border: 1px solid #b7b4ac;
	background: #fefefe;
	font-weight: 400;
	font-size: 12px;
	color: #000;
    margin: 0;
	padding: 8px 12px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
/*txtSearch:: Controls the style of the Search Box, if different from txtBoxStyle.*/
.txtBoxSearch {
	height: 20px;
	color: #000;
	font-size: 12px;
	border: none;
	padding: 3px 0 0 0;
	margin: 0;
}

/********************************************/
/*   STYLES USED ONLY ON THE INVOICE        */
/********************************************/

/*invoice_table:: Controls the background color on your invoices*/ 
.invoice_table {
	background-color: #f9f8f8;
}
/*invoice_title:: Controls the way the title of the invoices look */ 
.invoice_title {
	font-size: 10px;
	font-weight: 700;
	background-color: #cbcaca;
	color: #4f4e4e;
}
/*************************************************************/
/*          LEGACY STYLES: STYLES USED PRIOR TO v3.2         */
/*************************************************************/

/*font1:: Primary Screen Font */ 
.font1 {
	font-size: 12px;
	font-weight: 400;
	color: #383733;
}
/*font2:: Secondary Screen Font */ 
.font2 {
	font-size: 12px;
	font-weight: 400;
	color: #353535;
}
.font3 {
	font-size: 12px;
	font-weight: 400;
	color: #FFF;
}
.font4 {
	font-size: 12px;
	font-weight: 400;
	color: #c32519;
}
/*top:: Controls the  Color of the top Bar*/		
.top {
	background: none;
}
/*line:: Controls the  Color of the line bellow the top bar*/		
.line {
	background: #FFF;
}


/*********************************/
/*          CUSTOM STYLES        */
/*********************************/

/* Accent/Secondary Colors */

.accent-color {
    color: #c9dae4;
}
.accent-bg-color {
    background: #fff;
    color: #000;
}

#mainContainer {
	display: block;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
	position: relative;
	max-width: 100%;
}

#callnow {
	float: left; 
	color: #353535; 
	width: 360px;
	font-size: 12px;
	padding: 2px 0 0 5px;
}

#mobileMenu {
    cursor: pointer;
	display: none;
	float: right;
	width: 30px;
	height: 25px;
	margin: 8px 0 0 0;
}
#mobileCatMenu {
    cursor: pointer;
	display: none;
	float: left;
	width: 30px;
	height: 25px;
	margin: 5px 0 0 0;
}
#mobileCart {
    cursor: pointer;
	display: none;
	float: right;
	width: 30px;
	height: 25px;
	margin: 5px 10px 0 0;
}
#closeSlideMenu {
    cursor: pointer;
    display: none;
    text-align: right;
}
.top-menu {
    background: #fff;
    height: 24px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.top-menu ul {
    float: right;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;
}
.top-menu li {
    display: inline-block;
    margin-left: 20px;
    text-align: right;
}
li.m-search {
    display: none;
    border-bottom: 1px solid #555;
	padding: 1em 2%;
}
.m-search form {
	margin: 0 auto;
	text-align: center;
}
.m-search input {
	float: left;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
}
.m-search input[type="text"] {
	line-height: 30px;
	height: 30px;
	width: 85%;
	background: #353535;
	border: 1px solid #999;
	padding: 0 0 0 15px;
	margin: 0 0;
	color: #fff;
}
.m-search button {
	cursor: pointer;
	height: 30px;
	background: #999;
	border: 1px solid #fff;
	border: none;
    margin: 0;
    padding: 0;
	width: 15%;
}
#searchBox {
	border: 2px solid #353535;
	float: right;
	margin-top: 40px;
    position: relative;
	width: 312px;
	right: 180px;
}
#searchBox form {
    position: relative;
}
#searchBox input {
    float: left;
}
#searchBox input[type="text"] {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	width: 272px;
	height: 37px;
	color: #353535;
	padding: 10px;
	border: none;
	-webkit-appearance: none;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
}
#searchBox input[type="submit"] {
	background: url(../images/lens-thin.png) no-repeat center center;
    border: none;
    cursor: pointer;
    height: 37px;
    float: right;
    margin: 0;
    padding: 0;
    width: 35px;
	-webkit-appearance: none;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
}
header {
	position: relative;
	height: 130px;
}
header .wrapper {
	height: 108px;
}
#logo {
	margin: 2% 0 0 1%;
	float: left;
}
#logo img {
	max-width: 100%;
	max-height: 115px;
}
#cart {
	background: url('../images/shopping-cart.png') no-repeat left center;
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 900;
    text-decoration: none;
	text-align: right;
	position: absolute;
	right: 0px;
	bottom: 16px;
	width: 122px;
	height: 65px;
    line-height: 38px;
	padding: 12px 10px 0 0;
	overflow: hidden;
	z-index: 1000;
}
#home h2.header-specials{
	display: block;
	background: url('../images/line.png') no-repeat center center;
	height: 42px;
}

#cart span#noItemsText {
    color: #333;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
}
li.search {
	display: none;
}
nav#catNavMenu {
	min-height: 30px;
	line-height: 30px;
	margin: 0 0 10px;
	border-top: 1px solid #7b7b7b;
}
aside {
	float: left;
	width: 200px;
    display: block;
}
aside#leftBar {
	margin-right: 25px;
}
aside#rightBar {
	margin-left: 25px;
}
aside .module {
	margin-bottom: 25px;
    position: relative;
}
aside .module ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
aside .module li a {
	line-height: 23px;
}
aside .module .info {
	width: 100%;
}
aside .module .name {
	width: 100%;
	text-align: center;
}
aside .module .img {
	width: 100%;
	text-align: center;
}
aside .module .price2 {
	width: 100%;
    text-align: center;
}
aside .module .stars {
	width: 100%;
	text-align: center;
}
aside .module .div {
	display: block;
	height: 1px;
	background: #d0d0d0;
	margin: 10px 0;
}
.manf-select {
	background: #FFF url(../images/dark-arrow.png) no-repeat right center;
    border: 2px solid #e2e2e2;
	width: 200px;
	overflow: hidden;
	height: 29px;
}
.manf-select select {
	background: transparent;
	border: none;
	line-height: 29px;
	height: 29px;
    margin: 0;
    padding: 0;
	-webkit-appearance: none;
	width: 310px;
}
.topsellers_topitem .img {
	display: table-cell;
	width: 200px;
	height: 150px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.topsellers_topitem .img img {
    max-height: 150px;
    max-width: 150px;
}
.topsellers_topitem .info {
	background: #FFF;
	padding: 0.5em 0;
}
.topsellers_topitem .name {
	float: left;
	width: 70%;
	margin-bottom: 10px;
}
.topsellers_topitem .price2 {
	float: right;
	width: 30%;
	text-align: right;
	margin-bottom: 10px;
}
#mainContent {
	float: left;
	width: 100%;
}
footer {
	margin-top: 50px;
	background: #353535 url('../images/footer-arrow.jpg') no-repeat top center;
	color: #fff;
}
footer .wrapper {
	min-height: 275px;
	padding: 0 10px;
}
footer h3 {
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	display: block;
	margin: 35px 0 10px 0;
    padding: 0;
}
footer .ftr-col {
    float: left;
    margin: 0 10px 0 0;
}
footer .col1 {
    width: 350px;
}
footer .col2 {
    width: 350px;
}
footer .col3 {
	width: 340px;
    margin: 0;
	float: right;
}

#modLinks > ul > li > a {font-size: 18px!important; color: #fff!important; text-transform: none!important; font-weight: 900!important;}
#modLinks > ul > li > a:hover {font-size: 18px!important; color: #666!important; text-transform: none!important; font-weight: 900!important;}


#modManufacturer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#modManufacturer ul {
	list-style: none;
	display: block;
	width: 220px;
	margin: 0 0 10px;
	padding: 0;
    overflow: hidden;
}
#modManufacturer li {
	float: left;
	width: 50%;
}
#modLinks ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#modLinks ul {
	font-family: 'Source Sans Pro', sans-serif;	
	font-weight: 900;
	list-style: none;
	display: block;
	width: 420px;
	margin: 0 0 70px;
    min-height: 130px;
	padding: 0;
}
#modLinks li {
	float: left;
	width: 50%;
}
#mailistBox label {
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	display: block;
	margin: 35px 0 20px 0;
}
#mailistBox input, #mailistBox span {
	float: left;
	display: block;
}
#mailistBox span {
	margin-right: 30px;
}
.mailist-box {
	border: 2px solid #fff;
	margin-bottom: 13px;
}
#mailistBox input[type="text"] {
	font-family: 'Source Sans Pro', sans-serif;
	background: #353535;
	color: #fff;
	border: none;
	height: 37px;
	margin: 0;
	padding: 10px;
	width: 90%;
	-webkit-appearance: none;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
}
#mailistBox input[type="submit"] {
	display: none; /* Remove to show button */
	background: #FFF url('../images/go-arrow.png') no-repeat center center;
	border: none;
	border-left: 2px solid #000;
	border-right: 1px solid #FFF;
	float: right;
	color: #000;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	height: 27px;
	margin: 0;
	padding: 0;
	text-align: center;
    text-indent: -9999px;
	text-transform: uppercase;
	width: 10%;
	-webkit-appearance: none;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
#mailistBox input[type="submit"]:hover {
	background: #c9dae4 url('../images/go-arrow.png') no-repeat center center;
}
#mailistBox input[type="radio"] {
    margin: 2px 5px 0 0;
    padding: 0;
}
.social-icons {
	float: left;
	margin: 25px 0 0;
}
.social-icons a {
	background: none;
    color: #353535;
    font-size: 16px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #d0d0d0;
}
#globalFooter {
    margin: 0 0 15px;
    width: 50%;
    float: right;
    text-align: right;
}
#copyright {
    margin: 0 0 15px;
    width: 50%;
    float: left;
}
#copyright a {font-size: 10px!important; font-weight: 400;}
.stats {
	height: 0;
	overflow: hidden;
}
#homeCarousel {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.header-specials {
	font-family: 'Great Vibes', cursive;
	color: #231f20;
    font-weight: normal;
	text-align: center;
	line-height: 52px;
	margin: 0 0 20px;
	font-size: 3.5em;
	clear: both;
}
.product-item .status {
    color: #666;
}

/*	listing_0.html Template
	--------------------------	*/
#listing0 h1 {
    font-size: 18px;
}

ul#desktopMenu {
	margin: 0;
    padding: 0;
	list-style: none;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px!important;
	font-weight: 900;
}
ul#desktopMenu li {
	display: inline-block;
	position: relative;
	margin: 0 18px;
}
ul#desktopMenu li:hover {
	background: #FFF;
}
ul#desktopMenu li a {
	font-family: 'Source Sans Pro', sans-serif;
	display: block;
	padding: 10px 0 0;
	font-size: 18px!important;
	text-transform: none!important;
	font-weight: 900;
	color: #353535;
	border: 1px solid #fff;	
}
ul#desktopMenu li a:hover {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	color: #999;
	text-decoration: none;
}
ul#desktopMenu li ul {
	display: none;
	position: absolute;
	top: 42px;
	z-index: 10;
	border: 1px solid #EEE;
	left: 145%;
	background: #ffffff;
	text-align: left;
	padding: 10px;
	margin-left: -110px;
	width: 250px;
}
ul#desktopMenu li:hover ul {
	display: block;
}
ul#desktopMenu li ul li {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	width: 100%;
}
ul#desktopMenu li ul li a:hover {
	color: #000;
}
ul#desktopMenu li ul li a {
	color: #333;
	text-transform: none;
	font-weight: normal;
	padding: 0 10px;
	display: block;
}
ul#desktopMenu li ul li:hover {
	background: #fcfcfc;
}
.down {
	float: right;
	margin-top: -25px;
	margin-right: 7px;
	font-weight: bolder;
	color: #AAA;
}

/*	Responsive Navigation Menu
	--------------------------	*/

/*
    Mobile Menu Core Style
*/
.slicknav_btn {
	position: relative;
	display: block;
	vertical-align: middle;
	float: left;
	padding: 0.438em 0.625em 0.438em 0.625em;
	line-height: 1.125em;
	cursor: pointer;
}
.slicknav_menu .slicknav_menutxt {
	display: block;
	line-height: 1.188em;
	float: left;
}
.slicknav_menu .slicknav_icon {
	float: left;
	margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
	margin: 0
}
.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.188em
}
.slicknav_nav {
	clear: both
}
.slicknav_nav ul, .slicknav_nav li {
	display: block
}
.slicknav_nav .slicknav_arrow {
	font-size: 0.8em;
	margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
	cursor: pointer;
}
.slicknav_nav .slicknav_row {
	display: block;
}
.slicknav_nav a {
	display: block
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	display: inline
}
.slicknav_menu:before,
.slicknav_menu:after {
	content: " ";
	display: table;
}
.slicknav_menu:after {
	clear: both
}
/* IE6/7 support */
.slicknav_menu {
*zoom: 1
}
/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
.slicknav_menu {
	font-size: 16px;
	display: none;
}
/* Button */
.slicknav_btn {
	margin: 8px 0 0;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
/* Button Text */
.slicknav_menu .slicknav_menutxt {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
	background-color: #f5f5f5;
}
.slicknav_menu {
    float: left;
}
.slicknav_nav {
    background: #353537;
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 0.875em;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 999;
}
.slicknav_nav,
.slicknav_nav ul {
	list-style: none;
	overflow: hidden;
}
.slicknav_nav ul {
	padding: 0;
	margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row {
	padding: 5px 10px;
	margin: 2px 5px;
}
.slicknav_nav a {
	padding: 5px 10px;
	margin: 2px 5px;
	text-decoration: none;
	color: #fff;
}
.subMenu {
    background: #000;
}
.slicknav_nav .subMenu a.subcat,
.slicknav_nav .subMenu a.subcat:visited {
	color: #fff;
}
.slicknav_nav .slicknav_row:hover {
	background: #333;
	color: #fff;
}
.slicknav_nav a:hover {
	background: #333;
	color: #666!important;
}
.slicknav_nav .slicknav_txtnode {
	margin-left: 15px;
}
.slicknav_nav a.cat:hover,
.slicknav_nav a.cat:visited:hover {
    color: #000;
}
.slicknav_nav a.cat,
.slicknav_nav a.cat:visited {
    color: #FFF;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    display: block;
	padding: 0.5em 0;
	margin: 0;
}

/*********************************/
/*       LTE8 IE FALLBACK        */
/*********************************/
.no-boxshadow .boxShadow {
    border: 1px solid #eae9e6;
}


/*	Theme Responsive Styles
	-----------------------	*/
@media only screen and (max-width: 767px) {

html {
	padding: 0 !important;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
.wrapper {
	width: 100% !important;
	margin: auto;
	padding: 0 20px;
}
.top-menu {
    height: 50px;
}
.top-menu ul {
    float: none;
}
.top-menu li {
    display: block;
    margin: 0;
    text-align: center;
}
header {
	height: 130px;
	padding: 0.5em 0;
}
nav#catNavMenu {
    border: none;
    margin: 0;
}
ul#desktopMenu {
    display: none;
}
/* nav */
.slicknav_menu {
    display: block;
}

aside {
	display: none !important;
}
#mainContent {
	display: block;
	width: 100% !important;
}
#logo {
	float: none;
	margin-left: 0;
	text-align: center;
}
#logo img {
	max-width: 80%;
}
#searchBox {
	width: 100%;
	padding: 0 2em;
}
#searchBox input[type="text"] {
	width: 100%;
}
.mobile .search {
	display: block;
	border: 1px solid #000;
	margin: 5px 0 15px 0;
}
.mobile .search form {
	margin: 0 auto;
	text-align: center;
}
.mobile .search input {
	float: left;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
}
.mobile .search input[type="text"] {
	font-size: 16px;
	font-weight: normal;
	color: #3d3d3d;
	line-height: 30px;
	height: 30px;
	width: 80%;
	background: #FFF;
	border: none;
	padding: 0 0 0 15px;
	margin: 0;
}
.mobile .search input[type="submit"] {
	width: 20%;
	height: 30px;
	background: #FFF url(../images/lens.png) no-repeat center center;
	border: none;
	cursor: pointer;
}
#homeHeader {
	border: none;
	margin-bottom: 0;
	padding-bottom: 20px;
}
#homeHeader img {
	width: 100%;
	height: auto;
}
.header-specials {
	width: 100%;
	margin-bottom: 25px;
}
footer h3 {
    text-align: center;
}
footer .col1,
footer .col2,
footer .col3 {
    margin: 0;
    width: 100%;
}
#modManufacturer ul {
    text-align: center;
    width: 100%;
}
#modManufacturer li {
    float: none;
    width: auto;
}
#modManufacturer a.view-all-manf {
    display: none;
}
#modManufacturer select {
    border: 2px solid #e2e2e2;
    padding: 3px;
    width: 100%;
}
#modLinks ul {
    text-align: center;
    width: 100%;
}
#modLinks li {
    float: none;
    width: auto;
}
#modLinks li a:hover {color: #999;}
#mailistBox {
	position: relative;
	width: 100%;
	height: 150px;
}
#mailistBox label {
	text-align: center;
}
#mailistBox input[type="text"] {
	width: 90%;
}
#mailistBox input[type="submit"] {
	width: 10%;
}
#copyright {
	float: none;
	text-align: center;
	margin-bottom: 25px;
	width: 100%;
}
.social-icons {
	width: 100%;
	display: block;
	margin: 0 0 25px;
	position: relative;
	text-align: center;
}
.social-icons a {
	float: none;
	display: inline-block;
}
#globalFooter {
	float: none;
	text-align: center;
	margin-bottom: 25px;
    width: 100%;
}

/* General styles for Slide Out Menus */
.cbp-spmenu {
	background: #353535;
	position: fixed;
}
.cbp-spmenu a,
.cbp-spmenu a:visited {
	display: block;
	font-size: 1.1em;
	font-weight: 300;
    text-align: left;
}
.cbp-spmenu a:hover,
.cbp-spmenu a:visited:hover {
}
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #555;
	padding: 1em;
}
.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}
.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #000;
}
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
	left: -240px;
}
.cbp-spmenu-right {
	right: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: 0;
    z-index: 1050;
}
.cbp-spmenu-right.cbp-spmenu-open {
	right: 0;
}
/* Push classes applied to the body */
 
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 240px;
}
.cbp-spmenu-push-toleft {
	left: -240px;
}
/* Transitions */
 
.cbp-spmenu, .cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#message form {text-align: center;}

@media only screen and (max-width: 980px) {

html {
	padding: 0 !important;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
.wrapper {
    width: 100%;
	padding: 0 20px;
}
#leftBar {
    display: none !important;
}
#rightBar {
    display: none;
}

}

/* Mobile Visibility */
 
@media screen and (max-width: 979px) {
    #callnow, #lookbook {
        visibility: hidden !important;
        display: none;
    }
    .ftleft {clear: both; margin: 10px auto 0!important; width: 100%; text-align: center!important;}
    .ftright {clear: both; margin: 10px auto 0!important; width: 100%; text-align: center!important; background: url('../images/icons.jpg') no-repeat center center!important;}
    .top-menu {background: #191919;}
    .top-menu li a {color: #fff!important;}
    #home h2.header-specials {background: none;}
}